version.txt
models--EvolutionaryScale--esmc-600m-2024-12/
venv/
.mypy_cache/
./claude
asmfinder.tar
embeddings/
data/
jobs/
module_test.py
module_test_2.py
scripts.old
csv/
emb/
slider_data/
.vscode/
results/
models_weights/
training_logs/
slider_eval/
